@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto&family=Source+Sans+Pro:wght@300;400&display=swap');

@font-face {
	font-family: 'BIG JOHN';
	src: url('fonts/BIG JOHN.eot');
	src: local('☺'), url('../fonts/BIG JOHN.woff') format('woff'), url('../fonts/BIG JOHN.ttf') format('truetype'), url('../fonts/BIG JOHN.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F3F3F3;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #81868e;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
section{
    padding-top: 5px;
}
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.container__header{
    flex-direction: column;
	justify-content: space-between;
    min-height: 100vh;
}
.container__small{
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
}
.container__full-screen{
    width: 100%;
}
.flexbox{
    display: flex;
}
.tittle{
    font-family: 'Source Sans Pro';
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #2A313A;
    text-align: center;
    margin-top: 80px;
}
.text{
    text-align: center;
    margin: 40px auto 0;
    color: #81868E;
}
.btn__link{
    color: #2A313A;
    width: 150px;
    height: 40px;
    text-align: center;
    border: 1px solid #2A313A;
    border-radius: 20px;
    padding-top: 6px;
    cursor: pointer;
}
.btn__link:hover{
    background-color: #19BD9A;
}


/*----------------- Header -----------------------------*/
header{
    background-image: url(../img/header__bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.header__logo{
    font-family: 'BIG JOHN';
    color: #fff;
    font-size: 25px;
    line-height: 25px;
    padding-top: 10px;
    position: absolute;
    left: 10%;
}
.nav__menu{
    padding-top: 25px;
    justify-content: flex-end;
    margin-right: 10%;
}
.menu__item{
    font-size: 16px;
    line-height: 16px;
    width: 80px;
    height: 33px;
    padding-top: 7px;
    text-align: center;
    transition: all 0.3s;
}
.menu__item:hover{
    border: 1px solid #fff;
    border-radius: 20px;
}
.header__tittle{
    font-family: 'Source Sans Pro';
    font-size: 35px;
    line-height: 70px;
    font-weight: 300;
    letter-spacing: 6px; 
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}
.header__text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    text-align: center;
    width: 600px;
    margin: 0 auto;
}
.header__slider{
    width: 35px;
    height: 35px;
    background-color: #19BD9A;
    border: 2px solid #19BD9A;
    border-radius: 50%;
	transition: all 0.3s;
    margin: 0 auto 50px;
    position: relative;
}
.header__slider:hover{
    border: 2px solid #fff;
    cursor: pointer;
}
.slider__arrow{
    content: '';
	width: 10px;
	height: 10px;
	border: 3px solid transparent;
	border-bottom-color: #fff;
	border-right-color: #fff;
	transform: rotate(45deg);
    position: absolute;
    right: 38%;
    top: 25%;
}


/*----------------- Bouncy -----------------------------*/
.bouncy{
    background-color: #fff;
}
.bouncy__right{
    width: 50%;
    margin-top: 100px;
}
.bouncy__text{
    width: 470px;
    margin-top: 50px;
    letter-spacing: 1px;
}
.bouncy__btn{
    margin: 35px 0 100px 0;
}
.bouncy__img{
    margin: 80px 0 0 160px;
}


/*----------------- About -----------------------------*/
.about{
    background-color: #F3F3F3;
    margin-bottom: 100px;
}
.about__text{
    width: 460px;
}
.about__icons{
    width: 220px;
    margin: 60px auto 0;
}
.icons__item{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #81868E;
    margin-left: 10px;
    transition: all 0.3s;
}
.icons__item:hover{
    background-color: #19BD9A;
    cursor: pointer;
}
.icons__img{
    width: 25px;
    height: 25px;
    margin: 15px 0 0 15px;
}
.creative__tittle{
    margin-top: 60px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #2A313A;
}
.creative__text{
    margin-top: 40px;
    display: flex;
    font-size: 16px;
    line-height: 28px;
}
.creative__text-left{
    flex: 0 0 40%;
    width: 40%;
    padding-right: 120px;
}
.creative__text-right{
    flex: 0 0 60%;
    width: 60%;
    padding-left: 60px;
}
.green{
    color:#19BD9A;
}
.bold{
    font-weight: bold;
}


/*----------------- Works -----------------------------*/
.works{
    background-color: #fff;
}
.works__slider{
    margin-top: 60px;
}
.slider__item{
    flex: 1;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 320px;
    transition: all 0.5s;
}
.slider__item:hover{
    flex: 2.5;
}
.slider__item-vintage{
    background-image: url(../img/whiskey__slider-dark.jpg);
}
.slider__item-vintage:hover{
    background-image: url(../img/whiskey__slider.jpg);
} 
.slider__item-branding{
    background-image: url(../img/book__slider-dark.jpg);
}
.slider__item-branding:hover{
    background-image: url(../img/book__slider.jpg);
} 
.slider__item-design{
    background-image: url(../img/mag__slider-dark.jpg);
}
.slider__item-design:hover{
    background-image: url(../img/mag__slider.jpg);
}
.slider__item-ux{
    background-image: url(../img/label__slider-dark.jpg);
}
.slider__item-ux:hover{
    background-image: url(../img/label__slider.jpg);
}
.slider__text{
    text-transform: uppercase;
    font-family: 'Source Sans Pro';
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 5px;
    color: #fff;
}
.text__vintage,
.text__branding,
.text__design,
.text__ux{
    position: absolute;
    top: 45%;
    left: 33%;
}
.slider__footer{
    background-image: url(../img/slider__footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 110px;
    justify-content: space-evenly;
    color: #fff;
}
.slider__footer-text{
    margin-top: 40px;
}
.slider__footer-btn{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    margin-top: 30px;
}


/*----------------- Services -----------------------------*/
.services__list{
    margin-top: 60px;
}
.services__left{
    width: 50%;
    margin-right: 40px;
}
.services__left-icons{
    margin-right: 40px;
}
.icons__item{
    margin-bottom: 15px;
}
.services__left-tittle{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #2A313A;
}
.services__left-text p{
    margin: 40px 0 30px 0;
    font-size: 16px;
    line-height: 28px;
}
.services__right-circles{
    margin-top: 60px;
}
.services__circle{
    position: relative;
}
.circle{
    margin-left: 40px;
}
svg{
    width: 125px;
    height: 125px;
}
.service__right-text{
    margin: 20px 0 0 40px;
    text-align: center;
}
.persent{
    position: absolute;
    top: 23%;
    left: 45%;
    font-size: 34px;
    line-height: 40px;
}
.persent:after{
    content: '%';
    font-size: 20px;
}


/*----------------- Impressed -----------------------------*/
.impressed{
    background-image: url(../img/impressed__bg-dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    margin-top: 140px;
}
.impressed:hover{
    background-image: url(../img/impressed__bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.impressed__left{
    width: 50%;
}
.impressed__tittle{
    margin: 80px 0 60px ;
}
.impressed__text{
    margin-bottom: 60px;
}