*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1000px;
    background-color: #000;
    margin: 0 auto;
}
.chess__board{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #f00;
}
.sell__item{
    flex: 0 0 12.5%;
    max-width: 12.5%;
}
.sell__item:after{
    content: '';
    display: block;
    padding-top: 100%;
}
.sell__item:nth-child(2n + 1) {
    background-color: #eee;
}
.sell__number{
    position: absolute;
    right: -25px;
    font-size: 20px;
}