*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
}
h1{
    margin: 30px;
    font-size: 30px;
}
.todo__input{
    width: 40%;
    height: 10%;
    padding: 15px;
    border-radius: 20px;
}
.add__btn{
    width: 100px;
    height: 50px;
    background-color: #08c;
    color: yellow;
    margin-left: 30px;
    border-radius: 20px;
}
.add__btn:hover{
    border: 1px solid yellow;
}
.toDo__list{
    display: flex;
    text-align: center;
    min-height: 1000px;
    border-top: 5px solid #08c;
    margin-top: 50px;
}
.inprogress{
    width: 50%;
    border-right: 5px solid #08c;
    padding: 20px;
    background-color: rgb(241, 247, 160);
}
.tittle{
    font-style: italic;
    font-size: 20px;
    margin-bottom: 30px;
}
.inprogress__item,
.success__item{
    width: 80%;
    height: 5%;
    padding: 15px;
    background-color: #fff;
    display: block;
    margin: 0 auto 15px;
    border-radius: 20px;
    position: relative;
}
label input{
    position: absolute;
    top: 40%;
    left: 5%;
}
.success{
    padding: 20px;
    text-align: center;
    width: 50%;
    background-color: rgb(181, 196, 247);
}
.success__item button{
    position: absolute;
    top: 30%;
    right: 5%;
    background-color: red;
    color: #fff;
    width: 20%;
    height: 50%;
    border-radius: 10px;
}