*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F4F4F4;
}
a{
    text-decoration: none;
    color: #fff;
}
.flexbox{
    display: flex;
    justify-content: center;
}
.container{
    max-width: 560px;
    width: 100%;
    background-color: #fff;
    /* border: 15px solid #000; */
}
/* ------------------------------------------------------------------------- */
.header__tittle{
    text-transform: uppercase;
    text-align: center;
}
.header__logo{
    width: 26px;
    height: 32px;
}
.menu__list{
    background-color: #444;
    list-style: none;
    font-size: 13px;
    text-transform: capitalize;
    transition: transform .2s;
}
.menu__list li:hover{
    transform: scale(1.25);
}
.menu__item{
    width: 45px;
    height: 48px;
    padding: 25px;
    margin: 0 10px 15px;
}
/* ------------------------------------------------------------------------- */
.descr{
    width: 560px;
    height: 496px;
    margin-top: 20px;
}
.descr__tittle{
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    padding-top: 30px;
}
.descr__text{
    width: 280px;
    font-size: 14px;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 30px;
}
.link{
    color: #1890FF;
    font-size: 15px;
}
.vector__img{
    width: 7px;
    height: 12px;
}
.link__btn{
    width: 260px;
    height: 50px;
    background-color: #1890FF;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-top: 140px;
    cursor: pointer;
}
.descr__img{
    width: 176px;
    height: 496px;
}
/* ------------------------------------------------------------------------- */

.checkAlso{
    margin-top: 30px;
}
.check__text{
    justify-content: space-between;
    margin: 50px 50px 0 50px;
    padding: 20px;
}
.check__tittle{
    font-style: 24px;
    line-height: 29px;
}
.product__list{
    margin: 0 50px 0 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product__item img{
    width: 168px;
    height: 168px;
    margin-top: 30px;
}
.product__tittle{
    margin-top: 15px;
}
.price{
    font-style: italic;
}
.buy__btn{
    width: 54px;
    height: 24px;
    background-color: #1890FF;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
}

/* ------------------------------------------------------------------------- */
footer{
    margin-top: 30px;
    
}
.folowContact{
    justify-content: space-between;
}
.folowContact h4{
    font-size: 18px;
    line-height: 22px;
}
.follow{
    width: 196px;
    margin: 30px 0 0 50px;
}
.follow__text,
.contact__text{
    margin-top: 10px;
    font-size: 11px;
    line-height: 20px;
}
.contact{
    width: 196px;
    margin: 30px 20px 0 0;
    padding-left: 30px;
}
.contact a{
    color: #000;   
}
address{
    font-style: normal;
}
.link__img{
    margin-top: 20px;
    width: 23px;
    height: 20px;
    cursor:pointer
}
.tel,
.mail{
    margin-top: 10px;
}